@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";

.flex-container {
  display: flex;
  flex-direction: row;
}

.menu {
  width: 25%;
}
.content {
  width: 75%;
}

.content, .menu{
    padding: 10px;
}
